.topnav .search-container {
    float: none !important;
    border-top: 0px !important;
    margin: 0px !important;
}

.topnav a,
.topnav input[type=text],
.topnav .search-container button,
.urlmessage {
    border-top: 0px !important;
    border: 5px solid !important;
    transform: translate(20%, 0) !important;
    padding: 10px !important;
    float: top !important;
    display: block !important;
    justify-content: center !important;
    text-align: left !important;
    width: 70% !important;
    border-top: none !important;
    outline-width: 0 !important;
    position: fixed !important;
    background: white !important;
    color: #000000 !important;
    z-index: 99999 !important;

}

.topnav input[type=text],
.urlmessage {

    border: 1px solid #ccc !important;
    font-size: 16px;
    height: 23px;
    line-height: 18px;
    margin-top: -5px;
    margin: 0;
    font-family: "courier new", monospace;
    font-weight: bold;
}