body#friendsmanager h4 {
    color: #496dab;
        margin-bottom: 16px;
        font: 600 24px "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div#friends,
div.friend_request,
div.friend_chooser {
    background: #000 url("element_bkgd.gif") repeat-x top;
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid #444;
    position: relative;
}

div.friend_request img {
    vertical-align: middle;
    padding-right: 10px;
}

div.friend_request_new {
    border-color: #ccc;
}

div.friend_request span {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
    color: #666;
}

div.friend_request span a {

    color: #999;
    font-weight: normal;
}

div.friend_request_new span a {

    color: #fff;
    font-weight: normal;
}

div.friend_request.result_notice {

    color: #999;

}

div.friend_request.result_error {

    color: #f00;

}

div.friend_request.result_success {

    color: #0c6;

}

div.friend_chooser {
    border-color: #222;
}

div.friend_chooser h4 {

    font-size: 18px !important;
    margin-top: 0;
    border: none !important;
    color: #999 !important;

}

div.friend_chooser label {
    color: #69c;
    font-size: 14px !important;
}

div.friend_chooser input {

    border: 2px solid #9BACCE;
    font-size: 15px;
    width: 200px;
    margin-left: 10px;

}

div.friend_chooser ul {
    padding: 0;
    margin-top: 20px !important;
}

div.friend_chooser ul li {
    border-top: 1px dashed #333;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

div.friend_chooser ul li a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #69c;
}


/* AVATAR STYLES */

div#avatar_editor {
    border-top: 4px solid #666;
    border-bottom: 4px solid #666;
    padding: 20px 0;
    position: relative;
}

div#avatar_editor #prompt {
    height: 400px;
    position: absolute;
    left: 0;
        top: 0;
    background-color: #000000;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
    z-index: 100;
}

div#avatar_editor #prompt p {
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    font-size: 14px;
}

div#avatar_editor div#avatar {
    width: 136px;
    height: 136px;
    background: #000 url("avatar_bkgd.gif");
    float: left;
}

div#avatar_editor div#avatar div#layers {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

div#avatar_editor div#avatar div.layer {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 96px;
    height: 96px;
    background-color: transparent;
    background-repeat: no-repeat;
}

div#avatar_editor div#avatar div.layer_01 {
    z-index: 1;
    background: url("avatar_01_96.png");
}

div#avatar_editor div#avatar div.layer_02 {
    z-index: 2;
    background-image: url("avatar_02_96.png");
}

div#avatar_editor div#avatar div.layer_03 {
    z-index: 3;
    background-image: url("avatar_03_96.png");
}

div#avatar_editor div#avatar div.layer_04 {
    z-index: 4;
    background-image: url("avatar_04_96.png");
}

div#avatar_editor div#avatar div.layer_05 {
    z-index: 5;
    background-image: url("avatar_05_96.png");
}

div#avatar_editor div#avatar div.layer_06 {
    z-index: 6;
    background-image: url("avatar_06_96.png");
}

div#avatar_editor div#avatar div.layer_07 {
    z-index: 7;
    background-image: url("avatar_07_96.png");
}

div#avatar_editor div#avatar div.layer2_01 {
    background-image: url("avatar2_01_96.png") !important;
}

div#avatar_editor div#avatar div.layer2_02 {
    background-image: url("avatar2_02_96.png") !important;
}

div#avatar_editor div#avatar div.layer2_03 {
    background-image: url("avatar2_03_96.png") !important;
}

div#avatar_editor div#avatar div.layer2_04 {
    background-image: url("avatar2_04_96.png") !important;
}

div#avatar_editor div#avatar div.layer2_05 {
    background-image: url("avatar2_05_96.png") !important;
}

div#avatar_editor div#avatar div.layer2_06 {
    background-image: url("avatar2_06_96.png") !important;
}

div#avatar_editor div#avatar div.layer2_07 {
    background-image: url("avatar2_07_96.png") !important;
}


div#avatar_editor div#controls {
    float: left;
    width: 350px;
    margin-left: 12px;
}

div#avatar_editor div.control {
    clear: both;
    border-bottom: 1px dashed #333;
    height: 30px;
    padding-top: 5px;
}

div#avatar_editor div.control label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    line-height: 20px;
    font-size: 13px;
    padding-top: 4px;
    outline: none !important;

}

div#avatar_editor div.control input {
    border: none !important;
    outline: none !important;
    background: none !important;
    display: block;
    float: left;
}

div#avatar_editor input#control_save,
div#avatar_editor input#control_reset {
    outline: none !important;
    border: none !important;
    background: none !important;
    display: block;
    position: absolute;
    top: 170px;
    left: 25px;
}

div#avatar_editor input#control_reset {
    top: 200px;
}

div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    line-height: 1px;
    font-size: 1px;
}

div.friend_48 {
    width: 73px;
        height: 73px;
        float: left;
        margin: 10px;
        text-align: center;
        margin-bottom: 20px;
        overflow: hidden;
        font-size: 11px;
        letter-spacing: -1px;
}

div.friend_48 img {
    margin: 0 8px 4px 8px !important;
    padding-left: 6px !important;
    clear: both;
}

div.friend_48 a {
    display: block !important;
        clear: both;
}

div.friend_48 span.friend_controls a {
    font-size: 11px;
    color: #999;
    font-weight: normal;
}

div.friend_48 span.friend_controls a:hover {
    color: #fff;
}

div.friend_admin {
    height: 100px !important;
}